<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employment Contract</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
    </style>
</head>
<body>
    <h1>ARBEIDSOVEREENKOMST VOOR DE TEWERKSTELLING VAN FREELANCER</h1>
    <p>Tussen de ondergetekenden</p>
    <p>Young Mobility Services BV<br>
    Gevestigd te 8500 Kortrijk, Nelson Mandelaplein 2<br>
    vertegenwoordigd door: Stieg Martens<br>
    hierna de werkgever genoemd.</p>

    <p>en</p>
    <p>Naam: {{ name }}<br>
    Adres: {{ address }}<br>
    geboren op {{ birth_date }}</p>

    <p>Wordt overeengekomen hetgeen volgt:</p>

    <h2>Artikel 1: Voorwerp van de overeenkomst</h2>
    <p>De werkgever neemt de freelancer aan in de hoedanigheid van arbeider (bevoegd paritair comité: PC 121.00). in deze hoedanigheid moet de freelancer voertuigen wassen en schoonmaken bij de klant, dit zowel interieur als exterieur, evenals het transporteren van voertuigen tussen filialen van de klanten. De freelancer kan volgens zijn eigen capaciteiten worden verzocht andere taken te vervullen. Rekening houdende met de aard van het werk is er geen vaste tewerkstellingsplaats.</p>

    <h2>Artikel 2: Duur van de overeenkomst</h2>
    <p>Deze arbeidsovereenkomst wordt afgesloten voor bepaalde duur, nl. vanaf {{ start_date }} tot en met {{ end_date }}.</p>

    <h2>Artikel 3: Arbeidsduur</h2>
    <p>De freelancer wordt als volgt tewerkgesteld:</p>
    <table border="1">
        <tbody>
            <tr style="height: 20px">
                <td class="s0" dir="ltr" rowspan="3">Dag</td>
                <td class="s1" dir="ltr" colspan="4">Voormiddag</td>
                <td class="s1" dir="ltr" colspan="4">Namiddag</td>
                <td class="s0" dir="ltr" rowspan="3">Arbeidsduur</td>
            </tr>
            <tr style="height: 20px">
                <td class="s1" dir="ltr" colspan="2">Arbeidsduur</td>
                <td class="s1" dir="ltr" colspan="2">Pauze</td>
                <td class="s1" dir="ltr" colspan="2">Arbeidsduur</td>
                <td class="s1" dir="ltr" colspan="2">Pauze</td>
            </tr>
            <tr style="height: 20px">
                <td class="s1" dir="ltr">Van</td>
                <td class="s1" dir="ltr">Tot</td>
                <td class="s1" dir="ltr">Van</td>
                <td class="s1" dir="ltr">Tot</td>
                <td class="s1" dir="ltr">Van</td>
                <td class="s1" dir="ltr">Tot</td>
                <td class="s1" dir="ltr">Van</td>
                <td class="s1" dir="ltr">Tot</td>
            </tr>
            <tr style="height: 20px">
                <td class="s2" dir="ltr">{{ weekday }}</td>
                <td class="s2" dir="ltr">{{ start_time_morning }}</td>
                <td class="s2" dir="ltr">{{ end_time_morning }}</td>
                <td></td>
                <td></td>
                <td class="s2" dir="ltr">{{ start_time_afternoon }}</td>
                <td class="s2" dir="ltr">{{ end_time_afternoon }}</td>
                <td></td>
                <td></td>
                <td class="s2" dir="ltr">{{ duration }}</td>
            </tr>
        </tbody>
    </table>

    <h2>Artikel 4: Verloning</h2>
    <p>De bezoldiging van de freelancer wordt vastgelegd op 17,10 EUR bruto per uur. De wet van 12 april 1965 op de bescherming van het loon voor freelancers is op deze overeenkomst van toepassing. Het loon wordt betaald zoals voorzien in het arbeidsreglement. De freelancer verklaart zich uitdrukkelijk akkoord met de betaling van het loon op volgend rekeningnummer {{ iban }}.</p>

    <h2>Artikel 5: Aanvullende bepalingen</h2>
    <p>De tewerkstelling wordt beheerst door de bepalingen van deze overeenkomst, en de raamovereenkomst waarbinnen deze tewerkstelling geregeld is. De raamovereenkomst maakt integraal deel uit van de overeenkomst. De aanvang en het einde van de gewone arbeidsdag, het tijdstip en de duur van de rusttijden, de dagen van regelmatige onderbreking van de arbeid, zijn opgenomen in het arbeidsreglement. De plaats waar en de manier waarop de persoon te bereiken is aangewezen om de eerste hulp te verlenen, de plaats waar zich de verbandkist zich bevindt, de gegevens van de interbedrijfsgeneeskundige dienst, de contactgegevens van de inspectiediensten, zijn opgenomen in het arbeidsreglement waarvan de freelancer verklaart een afschrift te hebben ontvangen.</p>

    <p>Opgemaakt in 2 exemplaren te Kortrijk op . Elke partij erkent één exemplaar te hebben ontvangen.</p>

    <p>De werkgever _____________________________ De freelancer _____________________________</p>
    <img src="signature.png" style="width: 20%; height: 20%;" alt="signature.png">

</body>
</html>
