[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=4.2.5"
djangorestframework = "~=3.15.2"
djangorestframework-simplejwt = "~=5.2.2"
django-filter = "*"
drf-yasg = "*"
swagger-spec-validator = "*"
psycopg2-binary = "*"
pymysql = "~=1.1.0"
asgiref = "~=3.7.2"
channels = "*"
asyncio = "*"
django-storages = {extras = ["s3"], version = "~=1.13.2"}
boto3 = "*"
python-decouple = "~=3.8"
requests = "~=2.31.0"
python-dateutil = "~=2.8.2"
Pillow = "~=10.0.1"
celery = "~=5.3.6"
django-celery-beat = "~=2.5.0"
redis = "~=5.0.1"
pydantic = "*"
numpy = "~=1.26.4"
sentry-sdk = {extras = ["django"], version = "~=1.29.2"}
gunicorn = "~=20.1.0"
uvicorn = "*"
mailjet-rest = "*"
firebase-admin = "*"
xhtml2pdf = "*"
bcrypt = "*"
django-cors-headers = "*"
pandas = "*"
tabulate = "*"
pyopenssl = "*"
cryptography = "*"

[dev-packages]
pytest = "*"
pytest-django = "*"
pytest-asyncio = "*"
pytest-cov = "*"
factory-boy = "*"
faker = "*"
black = "*"
flake8 = "*"
isort = "*"
mypy = "*"
pylint = "*"
pylint-django = "*"
django-debug-toolbar = "*"
ipython = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
django-extensions = "*"
watchdog = "*"

[requires]
python_version = "3.11.10"

[scripts]
server = "python manage.py runserver"
test = "pytest"
lint = "flake8 ."
format = "black ."
sort = "isort ."
typecheck = "mypy ."
coverage = "pytest --cov=."
docs = "sphinx-build -b html docs/source docs/build"
